div#sente{font-size:30px;
 color:red;
 text-align:center;
 
 
}  
div#rgn{font-size:30px;
    
    text-align:center;
    vertical-align: middle;
    
   } 


#text{
    height:200px;
    width:600px;
    font-size: 30px;
   
}
#rg {
    padding:10px;
    color:green;
    vertical-align:top;}

#text1
{   
    padding: 10px;
    height:45px;
    width:150px;
    font-size:30px;
    text-align:center;
}

#toukou{
    color:red;
}
   
.btn{
    text-align:center;
    background:blue;
    height:40px;
    width:200px;
    text-align:center;
    border-bottom: solid 3px gray;
    border-radius: 10%;
    color:white
     
    
    
}


div#button1{
    text-align:center;
}

hr{
    color:blue;
}

.mess{
    
    font-size:20px;
    vertical-align: middle;
  
}

.time{
    font-size:15px;
    text-align:right;
    color:blue;
}

.rgn1{
    color:green;
}




