div#sente{font-size:30px;
color:blue;
text-align:center;
}  

textarea{
 height:200px;
 width:500px;
}

div#button1{
    background:gold;
   
    text-align:center;
    padding:60px 60px;
     
    
}




