div#sente{font-size:30px;
 color:red;
 text-align:center;
 
 
}  
div#rgn{font-size:30px;
    color:red;
    text-align:center;
    vertical-align: middle;
    
   } 

#text{
    height:200px;
    width:600px;
   
}
.rg {
    vertical-align: middle;
}

#text1
{   
    pading: 10px;
    height:50px;
    width:150px;
    font-size:30px;
    text-align:center;
}

   
.btn{
    text-align:center;
    background:blue;
    height:40px;
    width:200px;
    text-align:center;
    border-bottom: solid 3px gray;
    border-radius: 10%;
    color:white
     
    
    
}


div#button1{
    text-align:center;
}

hr{
    color:blue;
}

.mess{
    text-align:center;
    font-size:20px;
}

.time{
    font-size:15px;
}



